/* Import Font Here */


:root {
  --bg-Color: hsl(347, 100%, 98%);
  --bg-color-Aside: hsl(343, 79%, 36%);
  --bg-color-Aside-logo: hsl(343, 77%, 31%);
  --bg-color-Aside-shadow: hsl(343, 78%, 18%);
}


* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: var(--bg-Color);

  gap: 1.3vw;
}

/* Main - parent-Report-Missing */
.parent-Report-Missing {
  /* border: 1px solid black; */

  width: 82vw;
  height: 93vh;
  display: flex;
  flex-direction: column;
  gap: 15vh;

  margin-top: 1vh;
}


/* nav-Report ---- navigation here */

.nav-Report {
  /* border: 1px solid black; */

  background-color: var(--bg-color-Aside);
  color: #fff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  height: 10vh;

}

.report-missing {
  /* border: 1px solid black; */

  display: flex;
  gap: 1vw;
  width: 12vw;
}


/* report-section */

/* .report-section {
  border: 1px solid black;

  width: 80vw;
  height: 60vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 5vh;
} */

/* Report Missing Input's */

.report-section input {
  width: 20vw;
  height: 5vh;
}

.report-section .item-number-wsmall {
  width: 10vw;
  margin-right: 19.5vw;
}

.report-section .item-name-wsmall {
  margin-right: 50vw;
}

.subsection-input {
  /* border: 1px solid black; */

  display: flex;
  flex-direction: column;
  height: 15vh;
  gap: 3vh ;

  margin-right: 20vh;
}

/* file-upload input */

.file-upload {
  /* border: 1px solid black; */
  font-size: 1rem;
  margin-right: 9.9vw;
}

/* subsection-input font text */

.subsection-input input {
  font-size: 1.5rem;
}